body{
    background-image: url(imagemFundo.png);
    background-size: cover;
    background-position: center;
}

form{
   max-width: 300px; 
   margin: 0 auto;
   padding: 30px;
   background-color: rgb(165, 132, 207);
   border-radius: 10px;
   box-shadow: 2px 2px 5px gray;
}

.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 300px;
    height: 300px;
}

button{
    border-radius: 5px;
    border-width: 0.2px;
    background-color: rgb(184, 231, 188);
    border: none;
}